<footer class="bg-black">
    <div class="container">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center px-3 py-15">
            <div>
                <img class="text-white mb-10 mb-lg-8" src="/assets/images/LOGO-white.svg" alt="logo">
                <ul class="d-flex flex-column flex-lg-row text-white w-auto list-unstyled mb-10 mb-lg-0">
                    <li class="d-inline-block mb-5 mb-lg-0 me-lg-8">常見問題</li>
                    <li class="d-inline-block mb-5 mb-lg-0 me-lg-8">關於我們</li>
                    <li class="d-inline-block mb-5 mb-lg-0 me-lg-8">隱私權政策</li>
                    <li class="d-inline-block mb-5 mb-lg-0 me-lg-8">使用者條款</li>
                </ul>
            </div>
            <div>
                <div class="mb-5 text-lg-end">
                    <img class="me-5" src="/assets/images/btn_line.svg" alt="line">
                    <img class="me-5" src="/assets/images/btn_yt.svg" alt="youtube">
                    <img class="me-5 me-lg-0" src="/assets/images/btn_fb.svg" alt="facebook">
                </div>
                <p class="footer_text text-lg-end mb-0">
                    copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>