.banner {
  background-image: url(/assets/images/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 112px;
}


// .recommend{
//   background-color: #221f1e;
//   .card{
//     overflow: hidden;
//     width: 277px;
//     @media (min-width: 992px){
//       button{
//         opacity: 0%;
//       }
//       height: 600px;
//       width: 25%;
//       max-width: 416px;
//       transition: width 1s; //滑動平滑
//       &:hover{
//         width: 100%;
//         button{
//           opacity: 100%;
//         }
//       }
//     }
//   }
// }

//專屬推薦
.recommend {
  background-color: #221f1e;

  .card {
    overflow: hidden;
    max-width: 277px;
    height: 400px;

    &:hover {
      @media (min-width: 992px) {
        width: 100%;

        button {
          opacity: 100%;
        }
      }
    }

    @media (min-width: 992px) {
      height: 600px;
      width: 25%;
      max-width: 416px;
      transition: width 0.5s; //滑動平滑
    }

    button {
      @media (min-width: 992px) {
        opacity: 0%;
      }
    }
  }

  //swiper card 寬高
  .swiper-slide {
    width: 277px;
    height: 400px;
    max-height: 400px;
  }

  /* Swiper預設小圓點 */
  .swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: $neutral-40;
    /* 未選中顏色 */
    opacity: 1;
    /* 取消 Swiper 預設透明度 */
    //margin: 0 6px !important;
    /* 點與點間距 */
    transition: all .2s ease;
  }

  /* Swiper目前頁 */
  .swiper .swiper-pagination-bullet-active {
    width: 24px;
    height: 8px;
    background: $primary-40;
    /* 選中顏色 */
    border-radius: 999px;
    //transform: scale(1.25);
    /* 微放大 */
  }
}

@media (min-width: 992px) {
  .offset-row {
    transform: translateX(80px);
  }
}

.deco {
  @media (min-width: 992px) {
    background-image: url(/assets/images/Deco_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .side-text {
    display: none;

    @media (min-width: 992px) {
      display: block;
      // position: relative;
      // left: -240px;
      // top: 533px;
      transform: translate(-240px, 533px);
    }
  }

  .card {

    //max-height: 344px;
    @media (min-width: 992px) {}
  }

}

.card_number {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 100px;
  line-height: 1.2;
  color: #DFD2CD;
  //調整位置
  position: absolute;
  left: 0rem;
  top: -2.5rem;
}


//靈感地圖
.inspiration-up {
  height: 80px;
  clip-path: polygon(0 80px, 100% 0, 100% 100%, 0 100%);
  //clip-path: polygon(0 80%, 100% 0, 100% 100%, 0 100%);
}

//靈感地圖
.inspiration-down {
  height: 80px;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 100%);
}

//靈感地圖
.inspiration {
  .btn {

    &:hover,
    &:active,
    &:focus {
      color: $white;
      background-color: $primary-100 !important;
    }
  }

  .active {
    color: $white;
    background-color: $primary-100 !important;
  }

  .card {

    //width: 610px;
    @media (min-width: 992px) {
      width: 746px;
      height: 444px;
    }

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      /* 保持比例並裁切 */
      object-position: center;

      /* 裁切時置中 (可調 top / bottom / left / right) */
      @media (min-width: 992px) {
        height: 100%;
        width: 300px;
      }
    }
  }

  /* Swiper預設小圓點 */
  .swiper .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #cfcfcf;
    /* 未選中顏色 */
    opacity: 1;
    /* 取消 Swiper 預設透明度 */
    //margin: 0 6px !important;
    /* 點與點間距 */
    transition: all .2s ease;
  }

  /* Swiper目前頁 */
  .swiper .swiper-pagination-bullet-active {
    width: 24px;
    height: 8px;
    background: $primary-100;
    /* 選中顏色 */
    border-radius: 999px;
    //transform: scale(1.25);
    /* 微放大 */
  }
}

.deco-text {
  position: absolute;
  width: 130px;
  height: 68px;
  left: 125px;
  top: -40px;

  @media (min-width: 992px) {
    width: auto;
    height: auto;
    left: 320px;
    top: -45px;
  }
}

// 行程參考
.travel-plan {
  .arrow-left {
    left: -74px; //50+24
    top: 360px;
  }

  .arrow-right {
    right: -74px; //50+24
    top: 360px;
  }

  .bg-tag {
    font-size: 120px;
    height: 120px;
    width: 120px;
    left: -40px;
    top: -65px;
  }

  .favorite_icon {
    height: 56px;
    width: 56px;
    backdrop-filter: blur(12px);
    background: rgba($color: #000000, $alpha: 0.4);
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $black;
      // 拿掉 Bootstrap 的外框陰影
    }

    border-top-left-radius: 0px;
    /* 左上角 */
    border-top-right-radius: 20px;
    /* 右上角 */
    border-bottom-left-radius: 20px;
    /* 左下角 */
    border-bottom-right-radius: 0px;
    /* 右下角 */
  }

  .travel-card-pc {
    .card {
      min-height: 419px;
      width: 25%;
    }
  }

  .swiper-slide {
    max-width: 306px;
  }
}

//跑馬燈
.marquee {
  overflow: hidden;

  p {
    @media (min-width: 992px) {
      font-size: 130px;
    }

    color: #f3eeec;
    font-size: 32px;
    font-weight: bold;
    white-space: nowrap;

    animation-name: marquee;
    //animation-duration:10s;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

    @keyframes marquee {
      from {
        transform: translateX(-25%);
      }

      to {
        transform: translateX(0%);
      }
    }
  }

}

//旅行選擇
.travel-choose {
  .bg-icon {
    color: #F3EEEC66;
  }

  .bg-middle-icon {
    max-width: none;
  }

  .bg-bottom-icon {
    right: 25px;
    top: 950px;
  }

  .why-choose {
    backdrop-filter: blur(8px);
    background: rgba($color: #F3EEEC80, $alpha: 0.5);
  }

  .why-choose {
    .choose-btn-lg-pd {
      @media (min-width:992px) {
        padding: 28px 32px !important;
      }
    }
  }
}






.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
  border-radius: 50%;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #000;
  /* 黑色表示當前頁 */
}


//Swiper css
.swiper-container {
  overflow: visible;
}

.swiper-slide {
  @media (min-width: 992px) {
    width: 746px;
  }
}




//swiper end