<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>F

    <main>
      <!-- hero -->
      <section class="banner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <h2 class="fs-8 fs-lg-7 fw-bold text-primary bg-primary-10 rounded-1 p-2 d-inline-block mb-3 opacity-100">
                ZOBAA 旅行推薦平台</h2>
              <h1 class="fs-4 fs-lg-1 fw-bold text-primary mb-2 mb-lg-6">
                <span class="d-block d-lg-inline">用旅行，</span>
                <span>收藏世界的樣子</span>
              </h1>
              <h3 class="fs-9 fs-lg-7 fw-bold text-primary-80 mb-6 mb-lg-10">
                <span class="d-block d-lg-inline">
                  ZOBAA 整合熱門景點推薦、即時優惠、獨家行程，從比
                </span>
                <span>
                  價到訂購，一次完成你的完美出遊計畫。
                </span>
              </h3>
              <!-- hero搜尋輸入欄 彈出視窗 -->
              <div class="bg-neutral-40 rounded-1 me-0 me-lg-20 rounded-5 overflow-hidden">
                <div class="d-flex align-items-center">
                  <form class="position-relative">
                    <input type="text" class="form-control border-0 bg-neutral-40 py-6 px-3 ps-10"
                      id="exampleFormControlInput1" placeholder="搜尋景點、地點或城市">
                    <span
                      class="material-icons-outlined align-bottom position-absolute top-50 start-0 translate-middle-y ps-4 text-netral-60">
                      search
                    </span>
                  </form>
                  
                  <!-- 關閉搜尋欄按鈕 -->
                  <button type="button"
                    class="btn fs-8 text-white py-3 px-5 border fw-bold bg-primary ms-auto my-2 me-2" href="#">
                    <span class="">
                      開始探索旅程
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- 專屬推薦 -->
      <section class="recommend py-10 px-3 overflow-x-auto">
        <div class="container text-white d-lg-flex justify-content-lg-between align-items-lg-center mb-10 mb-lg-15">
          <h3 class="fs-4 fs-lg-1 fw-bold mb-7 mb-lg-0">你的 <br />專屬推薦</h3>
          <div>
            <p class="fs-9 fs-lg-7 fw-bold mb-3 me-2">來看我們的精選推薦行程，滿意度高達 99.2%<br /></p>
            給自己一個難忘的旅遊行程吧！</p>
            <a href="#" class="fs-9 fs-lg-8 fw-bold">查看全部行程<span class="material-icons-outlined align-bottom">
                arrow_forward
              </span></a>
          </div>
        </div>
        <!-- 專屬推薦 卡片 PC-->
        <div class="container d-none d-lg-flex gap-5">
          <div class="card text-white rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
            <img src="/assets/images/recommend.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
              <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
              <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                訂購行程<span class="material-icons-outlined align-bottom">
                  arrow_forward
                </span>
              </button>
            </div>
          </div>
          <div class="card text-white rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
            <img src="/assets/images/recommend-2.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
              <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
              <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                訂購行程<span class="material-icons-outlined align-bottom">
                  arrow_forward
                </span>
              </button>
            </div>
          </div>
          <div class="card text-white rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
            <img src="/assets/images/recommend-3.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
              <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
              <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                訂購行程<span class="material-icons-outlined align-bottom">
                  arrow_forward
                </span>
              </button>
            </div>
          </div>
          <div class="card text-bg-dark rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
            <img src="/assets/images/recommend-4.png" class="card-img h-100" alt="recommend">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
              <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
              <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
              <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                訂購行程<span class="material-icons-outlined align-bottom">
                  arrow_forward
                </span>
              </button>
            </div>
          </div>
        </div>
        <!-- 專屬推薦 卡片 手機 -->
        <div class="container ">
          <div class="swiper mySwiper d-lg-none">
            <div class="swiper-wrapper mb-10">
              <div class="swiper-slide">
                <div class="card text-white rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
                  <img src="/assets/images/recommend.png" class="card-img h-100" alt="recommend">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
                    <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
                    <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                      訂購行程<span class="material-icons-outlined align-bottom">
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card text-white rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
                  <img src="/assets/images/recommend-2.png" class="card-img h-100" alt="recommend">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
                    <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
                    <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                      訂購行程<span class="material-icons-outlined align-bottom">
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card text-white rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
                  <img src="/assets/images/recommend-3.png" class="card-img h-100" alt="recommend">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
                    <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
                    <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                      訂購行程<span class="material-icons-outlined align-bottom">
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card text-white rounded-8 overflow-hidden flex-shrink-0 flex-shrink-lg-1">
                  <img src="/assets/images/recommend-4.png" class="card-img h-100" alt="recommend">
                  <div class="card-img-overlay d-flex flex-column justify-content-end">
                    <h3 class="fs-5 fw-bold mb-2">峇里島渡假漫遊</h3>
                    <p class="fs-9 mb-7">精選五星級海灘度假村，專屬私人管家服務，讓您徹底放鬆身心。</p>
                    <button class="btn btn-light fs-8 fw-bold p-6 rounded-pill d-flex justify-content-between">
                      訂購行程<span class="material-icons-outlined align-bottom">
                        arrow_forward
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination d-block d-lg-none"></div>
          </div>
        </div>
      </section>
      <!-- 優惠介紹 -->
      <section class="deco">
        <div class="container py-10">
          <!-- 左邊文字圖片 -->
          <div class="side-text">
            <img src="/assets/images/Deco.png" alt="">
          </div>
          <div class="row flex-lg-row-reverse justify-content-between align-items-center">
            <!-- 右邊標題文字 -->
            <div class="col-lg-4 mb-10 d-flex justify-content-lg-end">
              <div>
                <h3 class="text-primary fs-4 fs-lg-1 fw-bold mb-7">ZOBAA!<br>
                  踏上旅程的<br>
                  第一站</h3>
                <p class="text-primary-60 fs-9 fs-lg-7 fw-bold">探索最熱門的旅遊主題，<br>
                  從旅人必備攻略到獨家優惠，<br>
                  全都為你精挑細選。</p>
              </div>
            </div>
            <!-- 卡片區 -->
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card mb-5 mb-lg-6">
                    <img src="/assets/images/intro-1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="fw-bold text-black fs-7">ZOBAA 專屬推薦行程</h4>
                      <p class="fw-bold text-neutral-80 fs-8">嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card mb-5">
                    <img src="/assets/images/intro-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="fw-bold text-black fs-7">ZOBAA 專屬推薦行程</h4>
                      <p class="fw-bold text-neutral-80 fs-8">嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row offset-row">
                <div class="col-lg-6">
                  <div class="card mb-5">
                    <img src="/assets/images/intro-3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="fw-bold text-black fs-7">ZOBAA 專屬推薦行程</h4>
                      <p class="fw-bold text-neutral-80 fs-8">嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card mb-5">
                    <img src="/assets/images/intro-4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="fw-bold text-black fs-7">ZOBAA 專屬推薦行程</h4>
                      <p class="fw-bold text-neutral-80 fs-8">嚴選深度行程，豐富旅行靈感</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 靈感地圖 -->
      <div class="inspiration-up bg-primary-10">
      </div>
      <section class="inspiration bg-primary-10">
        <div class="container py-10 py-lg-18">
          <div class="row">
            <!-- 上方文字+按鈕 -->
            <div class="d-block d-lg-flex justify-content-between mb-lg-15">
              <div>
                <h2 class="fs-4 fs-lg-1 fw-bold text-primary-100 mb-7 position-relative">
                  <img class="deco-text" src="/assets/images/deco-text-1.svg" alt="">
                  <span class="d-block mb-2">今年旅行的</span>
                  <span>靈感地圖</span>
                </h2>
                <div class="d-flex flex-shrink-1 flex-shrink-lg-0 overflow-x-auto mb-7 mb-lg-0">
                  <button class="btn bg-white fw-bold border flex-shrink-0 px-5 py-2 me-2 active">全部</button>
                  <button class="btn bg-white fw-bold border flex-shrink-0 px-5 py-2 me-2">亞洲</button>
                  <button class="btn bg-white fw-bold border flex-shrink-0 px-5 py-2 me-2">歐洲</button>
                  <button class="btn bg-white fw-bold border flex-shrink-0 px-5 py-2 me-2">美洲</button>
                  <button class="btn bg-white fw-bold border flex-shrink-0 px-5 py-2 me-2">大洋洲</button>
                  <button class="btn bg-white fw-bold border flex-shrink-0 px-5 py-2">非洲</button>
                </div>
              </div>
              <!-- 詳細小字+左右按鈕 -->
              <div class="my-lg-auto mb-10">
                <p class="fs-9 fs-lg-7 fw-bold text-primary-100 text-lg-end">來自旅人搜尋、收藏與討論最多的目的地排行榜，<br>
                  一場風格與故事感兼具的靈感旅行，就從這裡開始。</p>
                <div class="d-none d-lg-flex justify-content-end">
                  <button class="btn bg-white border p-5 rounded-4 me-2"><span
                      class="material-icons-outlined align-bottom">
                      arrow_back
                    </span></button>
                  <button class="btn bg-white border p-5 rounded-4"><span class="material-icons-outlined align-bottom">
                      arrow_forward
                    </span></button>
                </div>
              </div>
            </div>
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper mb-10">
                  <!-- Slide 1 -->
                  <div class="swiper-slide">
                    <div class="card flex-lg-row p-5 pe-lg-0 rounded-8">
                      <img src="/assets/images/map-1.png" class="card-img-top rounded-8 mb-2 mb-lg-0" alt="map-1">
                      <span class="card_number z-3">1</span>
                      <div class="card-body p-0 p-lg-8">
                        <div class="d-flex">
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border me-2">亞洲</span>
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border">日本京都</span>
                        </div>
                        <h2 class="text-black fw-bold">走進四季交織的文化時光</h2>
                        <h4 class="fs-9 text-neutral-80 mb-7">穿過紅葉與古寺的交錯，感受從櫻花盛開到秋楓染紅的日式浪漫。</h4>
                        <span class="badge bg-primary-10 text-primary-100 fw-bold border fs-8 p-2 mb-2">ZOBAA 建議</span>
                        <h4 class="fs-9 text-neutral-80 mb-7">賞楓最佳時間是 11 月中旬，推薦清水寺和南禪寺一帶 🍁</h4>
                        <button
                          class="btn bg-black fw-bold fs-9 text-white rounded-pill p-6 w-100 d-flex justify-content-between align-items-center">立即探索魅力古都<span
                            class="material-icons-outlined align-bottom rounded-circle bg-white text-primary fs-6 p-1">
                            arrow_forward
                          </span></button>
                      </div>
                    </div>
                  </div>
                  <!-- Slide 2 -->
                  <div class="swiper-slide">
                    <div class="card flex-lg-row p-5 pe-lg-0 rounded-8">
                      <span class="card_number z-3">2</span>
                      <img src="/assets/images/map-2.png" class="card-img-top rounded-8 mb-2 mb-lg-0" alt="map-1">
                      <div class="card-body p-0 p-lg-8">
                        <div class="d-flex">
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border me-2">亞洲</span>
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border">南韓首爾</span>
                        </div>
                        <h2 class="text-black fw-bold">從街邊美食到韓劇場景</h2>
                        <h4 class="fs-9 text-neutral-80 mb-7">白天在弘大小巷探店，夜晚登上南山塔俯瞰整座城市的閃爍。</h4>
                        <span class="badge bg-primary-10 text-primary-100 fw-bold border fs-8 p-2 mb-2">ZOBAA
                          建議</span>
                        <h4 class="fs-9 text-neutral-80 mb-7">弘大周邊週五傍晚最熱鬧，小吃與街頭藝人齊發✨</h4>
                        <button
                          class="btn bg-black fw-bold fs-9 text-white rounded-pill p-6 w-100 d-flex justify-content-between align-items-center">感受韓系風格日常<span
                            class="material-icons-outlined align-bottom rounded-circle bg-white text-primary fs-6 p-1">
                            arrow_forward
                          </span></button>
                      </div>
                    </div>
                  </div>
                  <!-- Slide 3 -->
                  <div class="swiper-slide">
                    <div class="card flex-lg-row p-5 pe-lg-0 rounded-8">
                      <span class="card_number z-3">3</span>
                      <img src="/assets/images/map-1.png" class="card-img-top rounded-8 mb-2 mb-lg-0" alt="map-1">
                      <div class="card-body p-0 p-lg-8">
                        <div class="d-flex">
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border me-2">歐洲</span>
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border">法國巴黎</span>
                        </div>
                        <h2 class="text-black fw-bold">在藝術與咖啡香中迷路</h2>
                        <h4 class="fs-9 text-neutral-80 mb-7">穿梭左岸書店與畫廊，任由麵包香與建築細節擁抱你的步伐。</h4>
                        <span class="badge bg-primary-10 text-primary-100 fw-bold border fs-8 p-2 mb-2">ZOBAA
                          建議</span>
                        <h4 class="fs-9 text-neutral-80 mb-7">走進瑪黑區，最容易與巴黎風格不期而遇 ☕️</h4>
                        <button
                          class="btn bg-black fw-bold fs-9 text-white rounded-pill p-6 w-100 d-flex justify-content-between align-items-center">立即探索魅力古都<span
                            class="material-icons-outlined align-bottom rounded-circle bg-white text-primary fs-6 p-1">
                            arrow_forward
                          </span></button>
                      </div>
                    </div>
                  </div>
                  <!-- Slide 4 -->
                  <div class="swiper-slide">
                    <div class="card flex-lg-row p-5 pe-lg-0 rounded-8">
                      <span class="card_number z-3">4</span>
                      <img src="/assets/images/map-4.png" class="card-img-top rounded-8 mb-2 mb-lg-0" alt="map-1">
                      <div class="card-body p-0 p-lg-8">
                        <div class="d-flex">
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border me-2">大洋洲</span>
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border">澳洲雪梨</span>
                        </div>
                        <h2 class="text-black fw-bold">城市與大自然的交會</h2>
                        <h4 class="fs-9 text-neutral-80 mb-7">清晨在海灘做瑜珈，午後漫步歌劇院，享受城市的節奏與野性的呼喚。</h4>
                        <span class="badge bg-primary-10 text-primary-100 fw-bold border fs-8 p-2 mb-2">ZOBAA
                          建議</span>
                        <h4 class="fs-9 text-neutral-80 mb-7">別錯過傍晚在雪梨港看日落＋欣賞歌劇院夜燈 ✨</h4>
                        <button
                          class="btn bg-black fw-bold fs-9 text-white rounded-pill p-6 w-100 d-flex justify-content-between align-items-center">立即探索魅力古都<span
                            class="material-icons-outlined align-bottom rounded-circle bg-white text-primary fs-6 p-1">
                            arrow_forward
                          </span></button>
                      </div>
                    </div>
                  </div>
                  <!-- Slide 5 -->
                  <div class="swiper-slide">
                    <div class="card flex-lg-row p-5 pe-lg-0 rounded-8">
                      <span class="card_number z-3">5</span>
                      <img src="/assets/images/map-5.png" class="card-img-top rounded-8 mb-2 mb-lg-0" alt="map-1">
                      <div class="card-body p-0 p-lg-8">
                        <div class="d-flex">
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border me-2">非洲</span>
                          <span class="badge bg-primary-10 fs-9 px-4 py-2 text-primary-100 border">埃及開羅</span>
                        </div>
                        <h2 class="text-black fw-bold">穿越千年時光的沙漠冒險</h2>
                        <h4 class="fs-9 text-neutral-80 mb-7">乘著駱駝走過古老遺跡，抬頭仰望太陽神的光芒，在歷史與傳說之間迷失。</h4>
                        <span class="badge bg-primary-10 text-primary-100 fw-bold border fs-8 p-2 mb-2">ZOBAA
                          建議</span>
                        <h4 class="fs-9 text-neutral-80 mb-7">建議早上 8 點前到吉薩金字塔，避開人潮與烈日 ☀️</h4>
                        <button
                          class="btn bg-black fw-bold fs-9 text-white rounded-pill p-6 w-100 d-flex justify-content-between align-items-center">立即探索魅力古都<span
                            class="material-icons-outlined align-bottom rounded-circle bg-white text-primary fs-6 p-1">
                            arrow_forward
                          </span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 分頁指示器 -->
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <div class="inspiration-down bg-primary-10">
      </div>

      <!-- 行程參考 -->
      <section class="travel-plan overflow-hidden">
        <div class="container position-relative">
          <button class="arrow-left shadow btn bg-white border p-5 rounded-4 position-absolute"><span
              class="material-icons-outlined align-bottom overflow-x-hidden">
              arrow_back
            </span></button>
          <button class="arrow-right shadow btn bg-white border p-5 rounded-4 position-absolute"><span
              class="material-icons-outlined align-bottom overflow-x-hidden">
              arrow_forward
            </span></button>
          <div class="row">
            <div class="fs-4 fs-lg-2 fw-bold text-primary-100 mb-7 position-relative">
              <span class="d-block mb-2">搜尋墨爾本嗎？</span>
              <span>來點行程參考！</span>
              <span class="text-primary-10 position-absolute bg-tag text-center " style="z-index:-1;">#</span>
            </div>
            <!-- 卡片 手機版  Swiper-->
            <div class="swiper-container d-lg-none">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper mb-10">
                  <!-- Slide 1 -->
                  <div class="swiper-slide">
                    <div class="card border-0 p-0 position-relative">
                      <img src="/assets/images/journey-1.png" class="card-img-top rounded-6 mb-4" alt="map-1">
                      <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                        <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                      </button>
                      <div class="card-body p-0">
                        <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                        <div class="d-flex mb-2">
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                        </div>
                        <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                          <img src="/assets/images/star.svg" alt="star">
                          <span class="">4.2</span>
                          <span class="text-neutral-60 border-end pe-3">(333)</span>
                          <span class="ps-3">500+ 個已訂購</span>
                        </h4>
                        <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                        <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                      </div>
                    </div>
                  </div>
                  <!-- Slide 2 -->
                  <div class="swiper-slide">
                    <div class="card border-0 p-0 position-relative">
                      <img src="/assets/images/journey-2.png" class="card-img-top rounded-6 mb-4" alt="map-1">
                      <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                        <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                      </button>
                      <div class="card-body p-0">
                        <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                        <div class="d-flex mb-2">
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                        </div>
                        <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                          <img src="/assets/images/star.svg" alt="star">
                          <span class="">4.2</span>
                          <span class="text-neutral-60 border-end pe-3">(333)</span>
                          <span class="ps-3">500+ 個已訂購</span>
                        </h4>
                        <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                        <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                      </div>
                    </div>
                  </div>
                  <!-- Slide 3 -->
                  <div class="swiper-slide">
                    <div class="card border-0 p-0 position-relative">
                      <img src="/assets/images/journey-3.png" class="card-img-top rounded-6 mb-4" alt="map-1">
                      <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                        <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                      </button>
                      <div class="card-body p-0">
                        <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                        <div class="d-flex mb-2">
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                        </div>
                        <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                          <img src="/assets/images/star.svg" alt="star">
                          <span class="">4.2</span>
                          <span class="text-neutral-60 border-end pe-3">(333)</span>
                          <span class="ps-3">500+ 個已訂購</span>
                        </h4>
                        <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                        <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                      </div>
                    </div>
                  </div>
                  <!-- Slide 4 -->
                  <div class="swiper-slide">
                    <div class="card border-0 p-0 position-relative">
                      <img src="/assets/images/journey-4.png" class="card-img-top rounded-6 mb-4" alt="map-1">
                      <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                        <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                      </button>
                      <div class="card-body p-0">
                        <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                        <div class="d-flex mb-2">
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                          <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                        </div>
                        <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                          <img src="/assets/images/star.svg" alt="star">
                          <span class="">4.2</span>
                          <span class="text-neutral-60 border-end pe-3">(333)</span>
                          <span class="ps-3">500+ 個已訂購</span>
                        </h4>
                        <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                        <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 分頁指示器 -->
                <div class="swiper-pagination d-none"></div>
              </div>
            </div>
            <!-- 卡片 PC -->
            <div class="container travel-card-pc d-none d-lg-flex justify-content-center gap-7">
              <div class="card border-0 p-0 position-relative">
                <img src="/assets/images/journey-1.png" class="card-img-top rounded-8 mb-5" alt="map-1">
                <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                  <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                </button>
                <div class="card-body p-0">
                  <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                  <div class="d-flex mb-2">
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                  </div>
                  <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                    <img src="/assets/images/star.svg" alt="star">
                    <span class="">4.2</span>
                    <span class="text-neutral-60 border-end pe-3">(333)</span>
                    <span class="ps-3">500+ 個已訂購</span>
                  </h4>
                  <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                  <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                </div>
              </div>
              <div class="card border-0 p-0 position-relative">
                <img src="/assets/images/journey-2.png" class="card-img-top rounded-8 mb-5" alt="map-1">
                <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                  <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                </button>
                <div class="card-body p-0">
                  <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                  <div class="d-flex mb-2">
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                  </div>
                  <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                    <img src="/assets/images/star.svg" alt="star">
                    <span class="">4.2</span>
                    <span class="text-neutral-60 border-end pe-3">(333)</span>
                    <span class="ps-3">500+ 個已訂購</span>
                  </h4>
                  <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                  <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                </div>
              </div>
              <div class="card border-0 p-0 position-relative">
                <img src="/assets/images/journey-3.png" class="card-img-top rounded-8 mb-5" alt="map-1">
                <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                  <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                </button>
                <div class="card-body p-0">
                  <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                  <div class="d-flex mb-2">
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                  </div>
                  <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                    <img src="/assets/images/star.svg" alt="star">
                    <span class="">4.2</span>
                    <span class="text-neutral-60 border-end pe-3">(333)</span>
                    <span class="ps-3">500+ 個已訂購</span>
                  </h4>
                  <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                  <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                </div>
              </div>
              <div class="card border-0 p-0 position-relative">
                <img src="/assets/images/journey-4.png" class="card-img-top rounded-8 mb-5" alt="map-1">
                <button class="btn btn-white favorite_icon p-0 position-absolute top-0 end-0">
                  <span class="material-icons-outlined align-bottom p-5">favorite_border</span>
                </button>
                <div class="card-body p-0">
                  <h3 class="fs-8 text-black fw-bold mb-2">【獨家優惠】布萊頓彩色小屋＋森林蒸汽火車一日遊</h3>
                  <div class="d-flex mb-2">
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100 me-2">即買即用</span>
                    <span class="badge bg-primary-10 fw-normal fs-9 px-2 py-1 text-primary-100">5 天前可免費取消</span>
                  </div>
                  <h4 class="fs-9 text-neutral-80 pb-5 mb-5 border-bottom">
                    <img src="/assets/images/star.svg" alt="star">
                    <span class="">4.2</span>
                    <span class="text-neutral-60 border-end pe-3">(333)</span>
                    <span class="ps-3">500+ 個已訂購</span>
                  </h4>
                  <h3 class="fs-6 text-primary-100 fw-bold ">NT$ 4,220</h3>
                  <del class="fs-9 text-neutral-60">NT$ 5,220</del>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 跑馬燈 PC -->
        <div class="marquee d-none d-lg-flex">
          <p># ZOBAA # WHERETOGO # TODAY</p>
        </div>
        <!-- 跑馬燈 手機 -->
        <div class="marquee d-flex d-lg-none">
          <p># ZOBAA# WHERETOGO# TODAY# ZOBAA# WHERETOGO#TODAY</p>
        </div>
      </section>

      <!-- 選擇目的 -->
      <section class="travel-choose position-relative overflow-hidden bg-primary-40 px-3 py-10 py-lg-18">
        <img class="d-none d-lg-block bg-icon position-absolute top-0 start-0 translate-middle z-1"
          src="/assets/images/bg-up.svg" alt="">
        <img class="d-none d-lg-block bg-icon bg-middle-icon position-absolute top-50 start-50 translate-middle"
          src="/assets/images/bg-line.svg" alt="">
        <img class="d-none d-lg-block bg-icon bg-bottom-icon position-absolute" src="/assets/images/bg-down.svg" alt="">
        <div class="container">
          <img class="mb-2 mb-lg-7 position-relative z-0" src="/assets/images/card.png" alt="">
          <div
            class="why-choose d-lg-flex row justify-content-lg-between rounded-7 rounded-lg-8 p-7 p-lg-8 position-relative z-1">
            <div class="col-lg-6">
              <h3 class="text-primary-100 fw-bold fs-6 fs-lg-2 mb-lg-7">為什麼選擇 ZOBAA ?</h3>
              <p class="text-netral-80 fw-normal fs-9 fs-lg-8 mb-lg-7">不只是帶你抵達目的地，更在每一次出發前，替你預想所有細節。<br>
                ZOBAA 希望你能放心探索世界，把記憶留給旅程本身。</p>
              <button
                class="btn bg-black fw-bold fs-9 fs-lg-7 text-white rounded-pill p-6 choose-btn-lg-pd d-lg-flex text-primary align-items-center d-none">立即探索我們的精心旅程<span
                  class="material-icons-outlined align-bottom rounded-circle bg-white text-primary ms-2 fs-6 p-1">
                  arrow_forward
                </span>
              </button>
            </div>
            <div class="col-lg-6 d-lg-flex">
              <div class="col-lg-6 bg-white rounded-5 p-7 py-lg-14 px-lg-8 mb-5 mb-lg-0 me-lg-5">
                <h3 class="d-inline-block fs-4 fs-lg-2 text-primary-100 fw-bold position-relative">8 年
                  <span
                    class="material-icons-outlined align-bottom fw-bold p-0 fs-8 fs-lg-6 ms-2 position-absolute add_icon">add</span>
                </h3>
                <p class="text-primary-80 fs-8 fs-lg-7">旅遊企劃經驗</p>
              </div>
              <div class="col-lg-6 bg-white rounded-5 p-7 py-lg-14 px-lg-8 mb-7 mb-lg-0">
                <h3 class="d-inline-block fs-4 fs-lg-2 text-primary-100 fw-bold position-relative">30,000
                  <span
                    class="material-icons-outlined align-bottom position-absolute fw-bold p-0 fs-8 fs-lg-6 ms-2 position-absolute top-0 start-100 translate-middle">add</span>
                </h3>
                <p class="text-primary-80 fs-8 fs-lg-7">旅人五星好評</p>
              </div>
            </div>
            <button
              class="btn bg-black fw-bold fs-9 text-white rounded-pill p-6 w-100 d-flex justify-content-between align-items-center d-block d-lg-none">立即探索我們的精心旅程<span
                class="material-icons-outlined align-bottom rounded-circle bg-white text-primary fs-6 p-1">
                arrow_forward
              </span>
            </button>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script>
        const swiper = new Swiper('.swiper', {
          slidesPerView: 'auto',
          //slidesPerView: 1.1,
          //一個畫面顯示3個內容
          spaceBetween: 24,
          //每個內容之間的間隔為 48px 。
          pagination: {
            type: 'bullets',
            dynamicBullets: true,        // 只顯示附近幾個點
            dynamicMainBullets: 3,       // 目前頁右側想出現 3 個點
            el: ".swiper-pagination",
            clickable: true,
          },
          // 響應式設定
          breakpoints: {
            992: { // >=1200px (桌機)
              // slidesPerView: 'auto',
              //每個內容之間的間隔為 48px 。
              slidesPerView: 'auto',
              spaceBetween: 24,
              centeredSlides: false,
            }
          }
        });
      </script>

      <script type="module" src="../main.js"></script>
</body>

</html>